@import url("./font.css");
@import url("./color.css");
@import url('./Button.css');

:root {
  --box-shadow-primary: 0px 0px 2px var(--brown-040);
  --box-shadow-secondary: 0px 0px 12px var(--brown-030);
}


.App {
  margin: 80px;
  font-family: "Averia Serif Libre", serif;
}

@media (max-width: 768px) {
  .App {
    margin: 24px;
  }
}

@media (max-width: 430px) {
  .App {
    margin: 16px;
  }
}

html,
body.main {
  height: 100%;
  padding: 0;
  background-color: var(--brown-010);
  font-family: "Averia Serif Libre", serif !important;
  transition: all 0.3s;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interactionArea {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
  height: 400px;
}




.button-iconOnly {
  display: flex;
  direction: row;
  align-items: center;
  background-color: var(--brown-030);
  font-family: "Averia Serif Libre", serif;
  font-size: 20px;
  padding-left: 24px;
  padding-right: 24px;
  height: 64px;
  border-radius: 32px;
  color: var(--primary-color);
  box-shadow: none;
  border: none;
  transition: background-color 0.3s ease;
  gap: 16px;

}

.back-button {

  background-color: var(--brown-030);
  font-family: "Averia Serif Libre", serif;
  font-size: 20px;
  width: 112px;
  height: 64px;
  border-radius: 16px;
  color: var(--primary-color);
  box-shadow: none;
  border: none;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: var(--primary-color);
  /* Darken primary button color on hover */
  color: white;
  cursor: pointer;
}

.button-iconOnly:disabled {
  background-color: var(--brown-010);

}

.button-iconOnly:hover {
  background-color: var(--primary-color);
  /* Darken primary button color on hover */
  color: white;
  cursor: pointer;
}

.moveSteps {
  margin-top: 16px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  /* Aligns items to each end of the container */
}

.textArea {
  --textarea-height: 6em;
  width: 30em;
  height: var(--textarea-height);
  padding: calc(var(--textarea-height) / 2) 0;
  position: relative;
  border: none;
  background-color: transparent;
  resize: none;
  font-size: 24px;
  font-family: "Averia Serif Libre", serif;
  width: 100%;
  caret-color: var(--primary-color);
  outline: none;
  text-align: center;
  vertical-align: center;
  max-width: 480px;
  transition: opacity 0.5s ease-in-out;
}

.distortedGroup {

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 16px;
  flex-wrap: wrap;
}


.optionBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  height: 120px;
  background-color: var(--brown-020);
  border-radius: 8px;
  font-family: "Averia Serif Libre", serif;
  font-size: 18px;
  font-weight: 500;
  padding: 16px;
  cursor: pointer;
  transition: 0.3s;
  text-align: left;
  border: 1px solid var(--brown-030);
  flex: 1;
  min-width: 200px;


}

.optionBox:hover {

  background-color: var(--brown-030);


}

.optionBox.selected {
  background-color: var(--primary-color);
  color: white;
}

.optionBox.selected:hover {
  background-color: var(--brown-080);
}

.optionBoxText {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.footer {
  display: flex;
  width: 100%;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 64px;
}

.prevButton {
  position: absolute;
  left: 0;
}

.nextButton {
  position: absolute;
  right: 0;
}


@keyframes shimmer {
  0% {
    background-position: -40rem 0;
  }

  100% {
    background-position: 40rem 0;
  }
}

.shimmer {
  animation: shimmer 2s infinite linear;
  background: linear-gradient(to right, var(--brown-020), var(--brown-030), var(--brown-020) 33%);
  background-size: 80rem 100%;
}

.summaryBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--brown-020);
  border-radius: 8px;
  font-family: "Averia Serif Libre", serif;
  padding: 16px;
  cursor: pointer;
  transition: 0.3s;
  text-align: left;
  border: 1px solid var(--brown-030);

}

.summaryImg {
  width: 100%;
  border-radius: 8px;
}

.toggle-container {
  display: inline-flex;
  gap: 8px;
  /* Adds 8px gap between each child element */
  padding: 8px;
  background-color: var(--brown-020);
  border-radius: 8px;
  justify-content: center;
  /* Centers items horizontally */
  align-items: center;
  /* Aligns items vertically */

}

.recordPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}



.RecordFooter {
  display: flex;
  flex-direction: row;
  gap: 24px;
  width:200px;
  position:relative;
}

.resultSection {

  max-width: 600px;
  background-color: #FFFDF8;
  display: flex;
  flex-direction: row;
  gap: 64px;
  padding: 16px 24px;
  border-radius: 24px;
  justify-content: flex-start;

}

@media (max-width: 768px) {
  .resultSection {
    gap:0px;
    flex-direction: column;
  }
}



.sectionTitle{
  width: 100px;
  padding: 16px 0;
  color: var(--brown-080);
}